
.row{
	margin: 0,0,0,0;
}
table{
	width: 100%;
}
tr{
	margin: 0px;
	padding: 0px;
	background-color: #D1EEEE;
}
tr:nth-child(odd)  td{
	
	background-color: #DDDDDD;
}
tr:nth-child(even)  td{
	
	background-color: #FFFFFF;
}

.back{
	text-align: center;
	color: red;
}
p.search{
	margin-bottom: -10px;
	text-align: center;
        width: 200px;	
}
h3.review{
	text-align: center;
	padding:0 0 0 15px;
}
img{
	display: block;
	margin: 0 auto;
}
