<p class="search"><input class="form-control" type="search" placeholder="Search your coffee" ng-model="query"></p>


<!--
<div class="row">
<div class="col-md-3">Reviews:</div>
<div class="col-md-3">Brand:</div>
<div class="col-md-3">Coffee Title:</div>
<div class="col-md-3">Country:</div>
	
</div>
<div  class="row" ng-repeat="coffee in coffees | filter:query">
	<div class="col-md-3"><a href="#/coffees/{{coffee.id}}">Reviews</a></div>
	<div class="col-md-3">{{coffee.brand}}</div>
	<div class="col-md-3">{{coffee.name}}</div>
	<div class="col-md-3">{{coffee.country}}</div>
</div>
-->


<br>
<table id="coffee">
	<tr class="row">
		<th class="col-md-3">Reviews:</th>
		<th class="col-md-3">Brand:</th>
		<th class="col-md-3">Coffee Title:</th>
		<th class="col-md-3">Country:</th>
	</tr>
	<tr class="row" ng-repeat="coffee in coffees | filter:query">
		<td class="col-md-3"><a href="#/coffees/{{coffee.id}}">Reviews</a></td>
		<td class="col-md-3">{{coffee.brand}}</td>
		<td class="col-md-3">{{coffee.name}}</td>
		<td class="col-md-3">{{coffee.country}}</td>
	</tr>
</table>