<h3 class="review">Reviews for We Did Our Best {{currentcoffee}}:</h3>

<table>
	<tr class="row">
		<th class="col-md-4">Reviews:</th>
		<th class="col-md-4">Comment:</th>
		<th class="col-md-4">Rating:</th>
	</tr>
	<tr class="row" ng-repeat="review in reviews">
		<td class="col-md-4">{{review.reviewer}}</td>
		<td class="col-md-4">{{review.comment}}</td>
		<td id="rating" class="col-md-4">{{review.rating}}</td>
	</tr>
</table>